@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Pacifico')
body
    background: red
    background-image: url(../image/bg.jpg)
    background-attachment: fixed
    background-size: cover
    font-family: 'Josefin Slab', serif
