//output:../../index.html
html
    head
        link(rel="stylesheet",href="assets/css/app.css")
        title Wandy Purnomo
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        style(type="text/css").
            .no-js #loader { display: none;  }
            .js #loader { display: block; position: absolute; left: 100px; top: 0; }
            .preloader {
            	position: fixed;
            	left: 0px;
            	top: 0px;
            	width: 100%;
            	height: 100%;
            	z-index: 9999;
            	background: url(assets/image/preloader.gif) center no-repeat #fff;
            }
        
        
    body
        .preloader
        .container#main-container
            .col-sm-12
                #profile
                    img(src="assets/image/wandx.jpg", alt="").img-circle.img-responsive
                    #name
                        h1 wandy purnomo
                        h3 { web developer }
                    #profile-exp
                        .lnk
                            span.lnk-icon 
                                i.fa.fa-envelope
                            span.lnk-desc wandypurnomo92@gmail.com
                        .lnk
                            span.lnk-icon
                                i.fa.fa-phone-square
                            span.lnk-desc 089630567193
                        .lnk
                            span.lnk-icon
                                i.fa.fa-linkedin-square
                            span.lnk-desc wandypurnomo
                        .lnk
                            span.lnk-icon
                                i.fa.fa-twitter
                            span.lnk-desc @wandx
                        .lnk
                            span.lnk-icon
                                i.fa.fa-facebook-square
                            span.lnk-desc wandypurnomo
                        .lnk
                            span.lnk-icon
                                i.fa.fa-instagram
                            span.lnk-desc wandypurnomo
            .col-sm-12
                .box
                    .box-title.center
                        h3
                            span about me
                    .box-body
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        
                .box
                    .box-title.center
                        h3
                            span objective
                    .box-body
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
                .box
                    .box-title.center
                        h3
                            span general skill
                    .box-body
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.hidden-xs problem solving
                                    span.skill-icon.visible-xs(data-toggle="tooltip",data-placement="bottom",title="Problem solving")
                                        i.fa.fa-puzzle-piece.fa-2x
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                                        
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.hidden-xs team work
                                    span.visible-xs(data-toggle="tooltip",data-placement="bottom",title="Teamwork")
                                        i.fa.fa-users.fa-2x
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                                    span.gauge
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.hidden-xs individual
                                    span.visible-xs(data-toggle="tooltip",data-placement="bottom",title="Individual")
                                        i.fa.fa-user.fa-2x
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                .box
                    .box-title.center
                        h3
                            span programming skill
                    .box-body
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.myicon.php
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.myicon.node
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                                    span.gauge
                                    span.gauge
                                    span.gauge
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.myicon.html
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.myicon.css
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                                        
                        .skill.clearfix
                            .col-xs-2
                                .skill-title
                                    span.myicon.js
                            .col-xs-10
                                .skill-gauge
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge.active
                                    span.gauge
                        
                        
                .box
                    .box-title.center
                        h3
                            span technology
                    .box-body
                        .tech-container
                            .tech
                                .tech-icon
                                    img(src="assets/image/laravel-tec.png", alt="")
                                .tech-name Laravel
                            .tech
                                .tech-icon
                                    img(src="assets/image/react-tec.png", alt="")
                                .tech-name ReactJS
                            .tech
                                .tech-icon
                                    img(src="assets/image/sass.png", alt="")
                                .tech-name SASS
                            .tech
                                .tech-icon
                                    img(src="assets/image/mysql.png", alt="")
                                .tech-name MySQL
                            .tech
                                .tech-icon
                                    img(src="assets/image/nginx.png", alt="")
                                .tech-name Nginx
                            .tech
                                .tech-icon
                                    img(src="assets/image/socket.png", alt="")
                                .tech-name SocketIO
                            .tech
                                .tech-icon
                                    img(src="assets/image/redis.png", alt="")
                                .tech-name Redis
                            .tech
                                .tech-icon
                                    img(src="assets/image/apache.png", alt="")
                                .tech-name Apache
                            .tech
                                .tech-icon
                                    img(src="assets/image/rest.png", alt="")
                                .tech-name RestAPI
                            .tech
                                .tech-icon
                                    img(src="assets/image/ps-tec.png", alt="")
                                .tech-name PhpStorm
                            .tech
                                .tech-icon
                                    img(src="assets/image/atom.svg", alt="")
                                .tech-name Atom
                            .tech
                                .tech-icon
                                    img(src="assets/image/webpack.png", alt="")
                                .tech-name Webpack
        script(src="assets/js/jquery.min.js")
        script(src="assets/js/bootstrap.min.js")
        <script>$(function(){setTimeout(function(){$(".preloader").fadeOut("slow");},2500);$('[data-toggle="tooltip"]').tooltip()});</script>
        
